@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-gray-200;
    background-color: #206d97;
    hyphens: manual;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: transparent white;
  }
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: solid 2px black;
    box-shadow: 0 -2px 0 0 inset #cccccc;
  }
}

@layer utilities {
  .clip-dot {
    clip-path: circle(0%);
  }

  .clip-circle {
    clip-path: circle(100%);
  }

  .border-pencil-brown-300 {
    border-image: url('~/assets/svg/border-brown-300.svg') 33% / 12px / 1px stretch;
    border-width: 12px;
    border-radius: 12px;
  }

  .border-pencil-brown-500 {
    border-image: url('~/assets/svg/border-brown-500.svg') 33% / 12px / 1px stretch;
    border-width: 12px;
    border-radius: 12px;
  }

  .border-pencil-black {
    border-image: url('~/assets/svg/border-black.svg') 33% / 12px / 1px stretch;
    border-width: 12px;
    border-radius: 12px;
  }

  .border-pencil-gray-300 {
    border-image: url('~/assets/svg/border-gray-300.svg') 33% / 12px / 1px stretch;
    border-width: 12px;
    border-radius: 12px;
  }

  .border-pencil-sky-500 {
    border-image: url('~/assets/svg/border-sky-500.svg') 33% / 12px / 1px stretch;
    border-width: 12px;
    border-radius: 12px;
  }

  .border-b-divider-sky-100 {
    border-image: url('~/assets/svg/line-sky-100.svg') 33% / 0 0 0.25rem 0 / 0 stretch;
    border-bottom-width: 0.25rem;
  }

  .border-b-divider-sky-300 {
    border-image: url('~/assets/svg/line-sky-300.svg') 33% / 0 0 0.25rem 0 / 0 stretch;
    border-bottom-width: 0.25rem;
  }

  .border-b-divider-black {
    border-image: url('~/assets/svg/line-black.svg') 33% / 0 0 0.25rem 0 / 0 stretch;
    border-bottom-width: 0.25rem;
  }

  .border-t-divider-black {
    border-image: url('~/assets/svg/line-black.svg') 33% / 0.25rem 0 0 0 / 0 stretch;
    border-top-width: 0.25rem;
  }

  .border-fence {
    /* doesnt work with svg */
    border-image: url('~/assets/webp/border-fence.webp') fill 136 132 178 132 / 34px 33px 44px 33px / 0 round;
    border-width: 40px 2rem 50px 2rem;
  }

  @media screen(md) {
    .border-fence {
      border-image-width: 68px 66px 89px 66px;
      border-width: 80px 60px 90px 60px;
    }
  }
}