@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-gray-200;
  }
}

@layer utilities {
  .clip-dot {
    clip-path: circle(0%);
  }

  .clip-circle {
    clip-path: circle(100%);
  }

  .border-pencil-brown-300 {
    border-image: url('~/assets/svg/border-brown-300.svg') 33% / 12px / 1px stretch;
    border-width: 12px;
    border-radius: 12px;
  }

  .border-pencil-gray-300 {
    border-image: url('~/assets/svg/border-gray-300.svg') 33% / 12px / 1px stretch;
    border-width: 12px;
    border-radius: 12px;
  }

  .border-pencil-sky-500 {
    border-image: url('~/assets/svg/border-sky-500.svg') 33% / 12px / 1px stretch;
    border-width: 12px;
    border-radius: 12px;
  }

  .border-fence {
    border-image: url('~/assets/svg/border-fence.svg') 70 80 80 65 / 1000px / 0 round;
    border-width: 2rem;
  }

  @media screen(md) {
    .border-fence {
      border-width: 3.9rem;
    }
  }
}